:root {
    --gap: 24px;
    --content-gap: 16px;
    --nav-width: 1024px;
    --main-width: 700px;
    --toc-width: 300px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: #2a2f35;
    --hljs-bg: rgb(238, 238, 238);
    --code-bg: rgb(238, 238, 238);
    --border: rgb(238, 238, 238);
    --border-color: rgb(30, 30, 30);
    --theme-toggle: #7f36ff;
    --nav-bar: #f9f9fb;
    --nav-buttons: #a6a8ab;
}

.dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(46, 46, 51);
    --border: rgb(29, 30, 32);
    --border-color: rgb(65, 66, 68);
    --theme-toggle: #ebb514;
    --nav-bar: #212224;
    --nav-buttons: #4c4f55;
}
