<header class="site-header">
  <div id="sign-nav">
    <img src="/images/icons/navigation.gif" usemap="#nav-map">
    <map name="nav-map">
      <area alt="home" title="home" href="/" coords="26,82 100,43 182,82 193,131 28,138 " shape="polygon">
      <area alt="blog" title="blog" href="/posts" coords="36,169 184,183 185,267 32,240 " shape="polygon">
      <area alt="microblog" title="microblog" href="/microblog" coords="56,284 148,292 159,351 56,354 " shape="polygon">
      <area alt="contact" title="contact" href="/contact" coords="16,376 206,386 204,459 11,450 " shape="polygon">
    </map>
  </div>
</header>
