.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

.main .profile {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    #min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

.profile .profile_inner h1 {
    padding: 12px 0;
}

.profile-grid {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main img {
    border-radius: 0.5rem;
}

.profile img {
    display: inline-table;
    border-radius: 50%;
    pointer-events: none;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}

.subtitle {
    color: var(--secondary);
    max-width: 25rem;
    text-align: left;
}

.subtitle a {
    text-decoration: underline;
    color: #1d78bd;
    font-weight: 600 !important;
}
